body {
 background-image: url("../bg2.jpg");
 background-size:     cover;                      /* <------ */

}

.center-both {
  position: relative;
  top: 100px;
  background-color:	#000000;
  height: 500px;
  opacity:0.8;
  margin: 0 auto;
}

.credit_score {
  position: relative;
  top: 150px;
}

.white-header {
  color:white;
}

p {
  color: green;
}
